body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #dadfea;
}
.container {
    width: 80%;
    background-color: #FFfFFF;
    margin: 25px auto;
    padding: 20px;
}
.hero {
    text-align: center;
    width: 100%;
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: aliceblue;
}
.main {
    display: flex;
    margin-top: 20px;
}
.left {
    background-color: aliceblue;
    padding: 10px;
}
.right {

}
img {
    height: 300px;
}