* {
    margin: 0;padding: 0;border: 0;
    font-family: 'Arial';
}
/* upper header */
#red {
    color: #ce2121;
    font-family: 'Helvetica Now Display';
}
#green{ 
    color :#8dc728;
    font-family: 'Helvetica Now Display';
}
#container {
    padding: 30px 75px;
    background-color: whitesmoke;
}
#header-box {
    display: flex;
    align-items: center;
    justify-content:space-between 
    
}
.item {
 display: inline;
 margin: auto 20px;
}
a {
    text-decoration: none;
    color: black;
}
h1 {
    font-family: 'Helvetica Now Display';
}

/* lower body portion*/
body {
    width: 100%;
    background-color: lightgray;
    background-image: url("/images/dark-honeycomb.png");
    background-blend-mode:color-dodge;
}
#container2 {
    margin: 70px 60px;
    font-size: 20px;
}
#main {
    display: flex;
    justify-content: center;
}
.text-desc h1 {
    font-size: 60px;
    line-height:.90;
}
.images{
    width: 300px;
    height: 100%;
    background-size: cover;
    margin: auto 7px;
    height: 450px;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}
#apple {
    background-image: url("images/apple.jpg");
}
#pasta {
    background-image: url("images/pasta.jpg");
}
#shrimp {
    background-image: url("images/shrimp.jpg");
}
.text-desc {
    width: 300px;
    padding-right: 40px;
}
.lorem{
    margin: 20px auto 28px auto;
}
.text-desc a {
    font-weight: bold;
}
#arrow {
    font-size: 31px;
}
.corner {
    background-color: #8dc728;
    padding:10px;
    display: inline-block;
    text-align: right;
    font-weight: bold;
}
.corner2 {
    background-color: aliceblue;
    padding:15px;
    display: inline-block;
    text-align: right;
    font-weight: bold;
}
.size {
    background-color: #8dc728;
    width: 50%;
    text-align: end;
}
