* {
    margin: 0;padding: 0;border: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
/* upper header */
#red {
    color: red;
}
#green{ 
    color :lime
}
#container {
    padding: 30px 75px;
    background-color: whitesmoke;
}
#header-box {
    display: flex;
    align-items: center;
    justify-content:space-between 
}
.item {
 display: inline;
 margin: auto 20px;
}
a {
    text-decoration: none;
    color: black;
}

/* lower body portion*/
body {
    width: 100%;
    background-color: lightgray;
}
#main {
    display: flex;
    justify-content: center;
}
#container2 {
    height: 14px;
    margin: 70px 60px;
    font-size: 20px;
}
#container2 h1 {
    font-size: 50px;
}
.images{
    margin: auto 7px;
 
    height: 450px;
}
img {
    width: 300px;
    height: 100%;
    object-fit: cover;
}
.images p {
    text-align: right;
}
.text-desc {
    width: 300px;
}
.text-desc p{
    margin: 19px auto 28px auto;
}
.text-desc a {
    font-weight: bold;
}
#arrow {
    font-size: 31px;
}
